
/* remove default padding and margin browser apply */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /*include padding and border in calculating width of element*/
}

body{
    background-color: #338cf4;
}
.container{
    width: 90%;
    background-color: white;
    padding: 50px 30px;                                     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow:0 25px 50px rgba(7, 20,35, 0.2);
}

.options{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap:  wrap;
}

button{
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: none;
    background-color: white;
    outline: none;
}
button:active{
    /* background-color: ; */
}

/* 020929 - black */

select{
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 5px;
    outline: none;
}

.options label , .options select{
    font-family: "Poppins",sans-serif;
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"]{
    /*by appearance , removing default style(appearance) for specific browsers */
    appearance: none;
    -webkit-appearance: none;  
    -moz-appearance: none;

    background-color: transparent;
    height: 28px;
    width: 40px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 10px;
    box-shadow:0 0 0 2px #B2BABB ;
}
input[type="color"]::-moz-color-swatch{
    border-radius: 10px;
    box-shadow:0 0 0 2px #B2BABB ;
}

#text_input{
    padding: 20px;
    border: 1px solid #020929;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    height: 50vh;
}

.active{
    background-color: #D6EAF8;
}

button{
    cursor: pointer;
}


a{
    text-decoration: none;
    cursor: pointer;
}