/* For small screen  */

/* navbar styles */

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    color: black;
    font-size: xx-large;
    font-family: Arial;
    font-weight: 600;
}

.btn-gr {
    display: none;
    color: white;
    font-size: larger;
    font-family: Arial;
    background-color: #04ddb2;
    padding: 13px 25px;
    font-weight: 500;
    border-radius: 40px;
}


#nav_links {
    display: none;
}

.link-item {
    padding: 10px 20px;
    font-size: large;
    font-family: Arial;
}

.link-item a {
    color: gray;
}

#hamburger div {
    background: black;
    margin: 3px;
    width: 15px;
    height: 2px;
}

#hamburger {
    background-color: #52525213;
    padding: 8px;
    cursor: pointer;
    display: block;
    border-radius: 100%;
}

ul {
    list-style: none;
}


/* main body style */
main {
    padding: 10px;
}

.jumbotron {
    padding: 0px;
}

.jumbotron .title {
    font-family: Arial;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 5px;
}

.jumbotron .content {
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    text-wrap: wrap;
    color: rgb(92, 92, 92);
}

.thumbnail {
    overflow: hidden;
    padding: 30px 20px;
    box-sizing: border-box;
    /* border-radius: 80px; */
}

.thumbnail img {
    border-radius: 20px;
}

#backgroundSpan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.705);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}


#videoContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100vw;
    box-sizing: border-box;
    left: 0%;
    height: 40vh;
    /* padding:0 10px; */
}

#videoContainer iframe {
    width: 100%;
    height: 100%;
}


.btn-gr-2 {
    color: white;
    font-size: larger;
    font-family: Arial;
    background-color: #04ddb2;
    padding: 15px 25px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
}

.jumbotron-2 {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron-2 .title {
    font-family: Arial;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(61, 60, 60);
}

/* Footer styles */
footer {
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.footer-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    /* padding-right:30px ; */
}

.footer-box {
    padding-top: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;

}

.footer-box li .links {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 103, 103);
}

.footer-box li:hover {
    transition: transform 0.5;
    transform: scale(1.05);
}

.footer-box li {
    padding: 8px;

}

.footer-box .section-name {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 700;
}

/*for tab */
@media (min-width:601px) and (max-width:743px){
    #videoContainer {
     width: 70vw;
     transform: translate(25%,-50%);
    }
}

/* For laptop */
@media (min-width:744px) and (max-width:1024px) {
    #videoContainer {
        top: 50%;
        height: 50vh;
        width: 70vw;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* for screen larger than tab */
@media (min-width:743px){
    .btn-gr {
        display: block;
    }

    #nav_links {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}


/* for larger screen  */
@media (min-width:1025px) {
    #navbar {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(12px);
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px;
    }

    main div {
        width: 80%;
        margin: auto;
    }

    .jumbotron {
        padding-top: 0px;
        width: 40%;
    }

    .jumbotron .title {
        font-family: Arial;
        font-weight: 800;
        font-size: 60px;
        text-align: center;
        margin-bottom: 10px;
    }

    .jumbotron .content {
        text-align: center;
        font-size: x-large;
        font-family: sans-serif;
        text-wrap: wrap;

        /* width: 50%; */
    }

    .thumbnail {
        width: 100%;
        padding: 20px 10px;

    }

    .thumbnail img:hover {
        transition: transform 0.5s;
        transform: scale(1.01);
    }

    .jumbotron-2 {
        padding: 20px 40px;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .jumbotron-2 .title {
        font-size: 50px;
    }

    .btn-gr-2 {
        font-size: large;
        font-weight: 600;
        padding: 15px 35px;
        margin-top: 20px;
    }

    #videoContainer {
        top: 0;
        height: 100vh;
        width: 70vw;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Footer style */
    footer hr {
        width: 67%;
        background-color: gray;
    }

    .footer-boxes {
        width: 70%;
        margin: auto;

    }

    .footer-box li {
        padding: 10px;

    }
}